/* CUADRILLA DEL CUERPO ENTERO */
body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "article article article"
    "main main aside";
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    grid-template-rows: min-content min-content 1fr;
    gap: 20px;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    height: 100vh;
}

/*CADA AREA DE LA PAGINA */
.container {
    padding: 0 40px;
}

.header{
    padding: 0;
    padding-top: 20px;
    background: #ffc017;
    grid-area: header;
}

.article{
    grid-area: article;
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
}

.main{
    grid-area: main;
}

.aside{
    grid-area: aside;
}

/*TODOS LOS ELEMENTOS DEL MISMO TIPO */

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

/*-------------------------- HEADER -----------------------------------------*/

.header{
    display: grid;
    gap: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

/*1. 1 HEADER NAV */

/*Separamos el titulo de la lista de izquierda derecha. */
.header__nav{
    width: 100%;
    padding: 0 50px;
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    align-items: center;
    position: fixed;
    top: 0;
    background: inherit;
    z-index: 50;
}

.header__nav__container-tittle{
    display: flex;
    align-items: center;
    gap: 5px;
}

/*LOGO DEL TITULO */
.fa-medium{
    font-size: 30px;
}

/*Sirve para separar la lista del titulo. */
.header__nav__container-lista{
    margin-left: auto;
}

.header__nav-lista{
    display: flex;
    gap: 30px;
    align-items: center;
}

.list-item__btn{
    background: #000;
    color: #fff;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
}

/*1. 2 HEADER MAIN */

.header__main{
    padding: 50px 0 50px 50px;
    display: flex;
}

/*
Hace referencia a la parte izquierda del header main(parte estatica)
1- Flex basis direction column para separar las distintas partes (tittle, paragraph y button)
*/
.header__main__container-text{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/*Estilo de fuente del titulo */
.header__main__tittle{
    font-size: 80px;
    font-weight: 400;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: -0.05em;
    line-height: 95px;
}

/*Estilo de fuente del parrafo */
.header__main__paragraph{
    width: 60%;
    font-size: 24px;
    font-weight: 400;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 24px;
}

.header__main__btn{
    align-self: start;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    color: #fff;
    background: #000;
}

.header__main__container-svg{
    background: red;
    height: 110%;
    flex-basis: 40%;
}


/*-----------------------ARTICLE------------------------------- */

.article__tittle{
    display: flex;
    align-items: center;
    gap: 15px;
}

.article__tittle-h5{
    font-size: 20px;
}

.article__tittle__circle{
    border: 2px solid #000;
    padding: 5px;
    width: 30px;
    border-radius: 20px;
}

.section__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

/*TODO LO RELACIOANDO CON LAS CARDS */

/*
Creamos la cuadrilla de cada card
 */
.article__card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, 1fr));
    gap :10px;
}

/*---------El header de la card------------*/
.article__card-header{
    grid-column: 2 / 5;
    align-self: center;
    display: flex;
    gap : 5px;
}

/* */
.card__img-container{
    flex-basis: 10%;
    height: 20px;
    
    background-image: url(iconoNetflix.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.card-header__paragraph{
    flex-basis: 90%;
}

/*---------El aside de la card------------*/
.article__card-aside{
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    text-align: center;
    opacity: 0.2;
}

/*---------El main de la card------------*/
.article__card-main{
    grid-column: 2 / 5;
    font-weight: 700;
    line-height: 1.3em;
}

/*---------El footer de la card------------*/
.article__card-footer{
    grid-column: 2 / 5;
}




/*-----------------------ASIDE------------------------------- */

/*
Establecemos display flex para separar las cuatros secciones (header,main,article,footer) 
*/
.aside__container{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;
    position: sticky;
    top: 70px;
}

/*
Display flex para separar cada elemento div.
*/
.aside__main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
    justify-content: start;
}

/*Hace referencia a cada div dentro del aside__main */
.aside__main-ancor{
    background: #eee;
    padding: 10px 20px;
    border-radius: 20px;
    flex-basis: auto;
}


.aside__article{
    margin-top: 10px;
    color: #292;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.aside__footer{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

/*-----------------------MAIN------------------------------- */

.main{
    margin-top: 60px;
    gap: 50px;
    display: grid;
}
/* MAIN CARD*/
.main__card{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    gap: 10px;
}

/* ASIDE */
.main__card-aside{
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    width: 100%;
    display: flex;
    align-items: center;
}

.main__card-aside img{
    height: 90%;
    width: 100%;
    object-fit: cover;
}

/*HEADER */
.main__card-header{
    grid-column: 1 / 3;
    display: flex;
    gap : 5px;
}


.main__card-header__container-img{
    flex-basis: 10%;
    height: 20px;
    border-radius: 20px;
    background-image: url(iconoNetflix.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.main__card-header__paragraph{
    flex-basis: 90%;
    font-weight: 500;
}

/* MAIN */
.main__card-main{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__card-main__p1{
    font-weight: 900;
    font-size: 1.2em;
}

.main__card-main__p2{
    opacity: 0.8;
}

/* FOOTER */
.main__card-footer{
    grid-column: 1 / 3;
    display: flex;
    gap: 5px;
    opacity: 0.6;
}

.main__card-footer p:nth-child(3){
    background: #eee;
    padding: 1px 10px;
    border-radius: 10px;
}

.main__card-footer p:last-child{
    margin-left: 50px;
}